<section class="col-md-4 col-md-offset-2" style="padding-top: 10rem;">
    <form name="userForm" novalidate ng-submit="userSave(user)">
        <div class="form-group">
            <label for="wordNo"><span class="red"> * </span>工号</label>
            <input type="text" class="form-control" id="wordNo" ng-model="user.workNo" maxlength="6" placeholder="工号" ng-required="true">
        </div>
        <div class="form-group">
            <label for="name"><span class="red"> * </span>姓名</label>
            <input type="text" class="form-control" id="name" ng-model="user.name" placeholder="姓名" maxlength="5" ng-required="true">
        </div>
        <div class="form-group">
            <label>照片</label>

            <div ngf-drop ng-model="picFile" ngf-pattern="image/*"
                 class="cropArea" ng-show="!picFile">
                <div class="btn btn-default" ngf-select ng-model="picFile" name="file" ngf-pattern="'image/*'"
                     ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100">上传
                </div>
                <b>或者</b>
                将图片拖动到这里
            </div>
            <div class="cropArea" ng-show="picFile">
                <img ngf-thumbnail="picFile" ngf-size="{width: 300, height: 250, quality: 0.9}"/>
                <!--<b>{{picFile.$ngfName}}</b>-->
                <div class="btn btn-default" ng-model="picFile" ng-click="picFile = null">移除</div>
            </div>
        </div>

        <div class="form-group">
            <label for="ip"><span class="red"> * </span>IP</label>
            <input type="text" class="form-control" id="ip" ng-model="user.ip" placeholder="IP地址" ng-required="true">
        </div>

        <button type="submit" ng-disabled="userForm.$invalid || ( null == picFile)" class="btn btn-default" >保存</button>
    </form>
</section>
<section class="col-md-5 col-md-offset-1" style="padding-top: 10rem;">
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>工号</th>
                    <th>姓名</th>
                    <th>IP</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in userList">
                    <td scope="row">{{$index+1}}</td>
                    <td>{{user.workNo}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.ip}}</td>
                    <td>
                        <a href="javascript:;" ng-click="userDel(user._id)">删除</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" ng-change="pageChanged()"
                            previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
        </div>
    </div>
</section>