<header class="header">
    <div class="logo"></div>
    <div class="menu">
        <ul>
            <li><a class="menu-item active" ui-sref-active="active" ui-sref="sys.index">
                <span class="glyphicon glyphicon-gift"></span>
                AIR'S 2015</a></li>
            <li><a class="menu-item" ui-sref-active="active" ui-sref="sys.about">
                <span class="glyphicon glyphicon-heart"></span>
                关于我们</a></li>
        </ul>
    </div>
</header>
<div ui-view ng-cloak>
</div>
<footer>

</footer>

