body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* index */

.index-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #C4DDF5;
}

.index-bg-about {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #99CCFF;
}

.index-decorate {
  z-index: 1;
}

.index-header {
  position: relative;
}

.load-wrapper {
  width: 54px;
  height: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -27px;
  margin-top: -10px;
}

#preloader {
  position: relative;
  span {
    display: block;
    bottom: 0px;
    width: 9px;
    height: 25px;
    background: #9b59b6;
    position: absolute;
    animation: preloader 1.5s infinite ease-in-out;
    &:nth-child(2) {
      left: 11px;
      animation-delay: .2s;

    }
    &:nth-child(3) {
      left: 22px;
      animation-delay: .4s;
    }
    &:nth-child(4) {
      left: 33px;
      animation-delay: .6s;
    }
    &:nth-child(5) {
      left: 44px;
      animation-delay: .8s;
    }
  }
}

@keyframes preloader {
  0% {
    height: 25px;
    transform: translateY(0px);
    background: #9b59b6;
  }
  25% {
    height: 60px;
    transform: translateY(15px);
    background: #3498db;
  }
  50% {
    height: 25px;
    transform: translateY(0px);
    background: #9b59b6;
  }
  100% {
    height: 25px;
    transform: translateY(0px);
    background: #9b59b6;
  }
}

.header {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  padding: 0 200px;
  .logo {
    background-image: url('../images/logo.png');
    width: 280px;
    height: 70px;
    position: relative;
    top: 20px;
    float: left;
  }
  .menu {
    position: relative;
    top: 20px;
    ul {
      padding: 0;
      list-style: none;
      float: right;
      li {
        display: inline-block;
        margin-left: 1px;
        a {
          padding: 12px 20px;
          display: inline-block;
          color: white;
          font-size: 16px;
          //background: #ba0000;
          text-transform: uppercase;
          text-decoration: none;
        }
        .active {
          color: #fff961;
        }
      }
    }
  }
}

.menu-item {
  font-size: 16px;
  .glyphicon {
    display: block;
    font-size: 22px;
    text-align: center;
    padding-bottom: 10px;
  }
}

.cropArea {
  padding: 15px;
  border: 2px #f1f1f1 dashed;
  border-radius: 5px;
  line-height: 34px;
}

/* Common */
@-webkit-keyframes shake {
  0% {
    -webkit-transform: rotate(2deg) translate3d(0, 0, 0)
  }

  50% {
    -webkit-transform: rotate(-2deg) translate3d(0, 0, 0)
  }

  100% {
    -webkit-transform: rotate(2deg) translate3d(0, 0, 0)
  }
}

@-moz-keyframes shake {
  0% {
    transform: rotate(2deg) translate3d(0, 0, 0)
  }

  50% {
    transform: rotate(-2deg) translate3d(0, 0, 0)
  }

  100% {
    transform: rotate(2deg) translate3d(0, 0, 0)
  }
}

@-ms-keyframes shake {
  0% {
    transform: rotate(2deg) translate3d(0, 0, 0)
  }

  50% {
    transform: rotate(-2deg) translate3d(0, 0, 0)
  }

  100% {
    transform: rotate(2deg) translate3d(0, 0, 0)
  }
}

.red-packet {
  width: 300px;
  height: 345px;
  border-radius: 15px;
  box-shadow: 1px 1px 20px #666;
  position: fixed;
  top: 45%;
  left: 35%;
  overflow: hidden;
  margin-left: -150px;
  margin-top: -172px;
  transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  z-index: 1;
  cursor: pointer;
  img {
    width: 100%;
    height: auto;
  }
  .headpic {
    position: absolute;
    top: 43px;
    left: 111px;
    width: 81px;
    height: 81px;
  }
}

.red-packet.shake {
  animation: shake .2s infinite linear;
  -webkit-animation: shake .2s infinite linear;
}

ol {
  counter-reset: li; /* 创建一个计数器 */
  list-style: none; /* 清除列表默认的编码*/
  *list-style: decimal; /* 让IE6/7具有默认的编码 */
  font: 15px 'trebuchet MS', 'lucida sans';
  padding: 0;
  margin-bottom: 4em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

.gift-list {
  width: 260px;
  //overflow-y: auto;
  overflow: hidden;

  border: 1px #A9A9A9 solid;
  height: 355px;
  //padding: 10px;
  margin-top: -172px;
  z-index: 1;
  position: fixed;
  top: 45%;
  left: 60%;
  -moz-box-shadow: 1px 1px 20px #666;
  -webkit-box-shadow: 1px 1px 20px #666;
  box-shadow: 1px 1px 20px #666;

  header {
    padding: 10px;
    border-bottom: 2px #E1EEFA solid;
    color: #FFF;
    font-family: "Microsoft YaHei";
    text-align: center;
    text-shadow: 2px 2px 2px #000, 0px 0px 10px #fff, 0px 0px 20px #fff;
  }
}

.rounded-list {
  padding: 10px;
  animation: all 1.5s infinite ease-in-out;
  a {
    position: relative;
    display: block;
    padding: 0.4em 0.4em 0.4em 2em;
    *padding: 0.4em; /*for ie6/7*/
    margin: 0.5em 0;
    background: rgba(0, 0, 0, .075);
    color: #444;
    text-decoration: none;
    border-radius: 0.3em;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    &:hover {
      background: #eee;
    }
  }
}

/* 遮罩层 */
.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.8);
  background: #000 \9;
  filter: alpha(opacity=80);
}

.windows {
  width: 350px;
  height: 300px;
  position: absolute;
  top: 50%;
  margin-top: -150px;
  left: 50%;
  margin-left: -175px;
  border-radius: 15px;
  background: #c7c7c7;
  display: none;
  z-index: 11;
}

.text {
  text-align: center;
  font-size: 18px;
  font-family: "微软雅黑";
  vertical-align: middle;
  padding: 10px 0;
  .title {
    display: inline-block;
    padding: 10px 0;
  }
}

.close {
  width: 30px;
  height: 30px;
  position: absolute;
  right: -10px;
  top: -10px;
  background: #c7c7c7;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
}

.close:hover {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.close img {
  padding-top: 5px;

}

/* snow */
.snow-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 100001;
  background-size: cover;
}

/* about */
.about-header {
  position: relative;
  z-index: 1;
  a {
    text-decoration: none;
  }
  .pic-one {
    position: absolute;
    top:200px;
    left:250px;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  .pic-two {
    position: absolute;
    top:180px;
    left:450px;
  }
  .pic-three {
    position: absolute;
    top:200px;
    left:650px;
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    transform: rotate(10deg);
  }
}
.about-pic {
  display: block;
  width: 278px;
  padding: 10px 10px 15px;
  text-align: center;
  background: white;
  border: 1px solid #bfbfbf;

  -webkit-box-shadow: 2px 2px 3px rgba(135, 139, 144, 0.4);
  -moz-box-shadow: 2px 2px 3px rgba(135, 139, 144, 0.4);
  box-shadow: 2px 2px 3px rgba(135, 139, 144, 0.4);
  -webkit-transition: all 0.5s ease-in;
  img {
    display: block;
    width: 256px;
    height: 192px;
    margin-bottom: 10px;
    border: 0;
  }
}

.about-pic:hover, .about-pic:focus, .about-pic:active {
  border-color: #9a9a9a;
  -webkit-box-shadow: 15px 15px 20px rgba(50, 50, 50, 0.4);
  -moz-box-shadow: 15px 15px 20px rgba(50, 50, 50, 0.4);
  box-shadow: 15px 15px 20px rgba(50, 50, 50, 0.4);
  -webkit-transform: rotate(0deg) scale(1.05);
  -moz-transform: rotate(0deg) scale(1.05);
  transform: rotate(0deg) scale(1.05);
  z-index: 999;
}