<div class="container">
  <div ui-view>
    <div class="load-wrapper">
      <div id="preloader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</div>



